/* reset */
body{
  margin:30 auto;
  width:1000px;
  padding:30 30;
  font:normal 12px arial, sans-serif;
  color:#333;
  background-color:black;
  background-image:url('../images/background.jpg');
  background-size:cover;
  background-position: center;
}
img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}



h1{font: normal 35px VanillaRegular,Arial,sans-serif; text-align: center; margin: 10px 0 5px 0; color: #555;}
